@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Special+Elite&display=swap');


div#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: Georgia, Garamond;
}

nav a {
    text-align: center;
    color: #171e14;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: "Special Elite", "Pangolin", "Trebuchet MS";
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #171e14;
    color: #d0ddd7;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #d0ddd7;
    display: grid;
    grid-template-columns: 150px auto;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: white;
    color: black;
}

.book, .join {
    background-color: #7fe8ff;
    color: #171e14;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: black;
    color: white;
}

#background {
    background-color: #446134;
    grid-column: 1/11;
    grid-row: 4/9;
}

.msg {
    background-color: #7fe8ff;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px black;
}

footer {
    background-color: #171e14;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title {
    color: #7fe8ff;
    font-family: "Special Elite", "Pangolin", "Trebuchet MS";
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #7fe8ff;
}

.msg h2 {
    color: #446134;
    font-family: "Special Elite", "Pangolin", "Trebuchet MS";
}

.msg p {
    color: #171e14;
    font-size: 0.8em;
    line-height: 1.5em;
    padding-bottom: 15px;
}

footer a {
    color: #7fe8ff;
    text-decoration: none;
}

footer a:hover {
    color: #d0ddd7;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;

}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img {
    padding-top: 15px;
}

.card-img{
    width: 100%;
    border: 10px solid #d0ddd7;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #1a0606;
}

.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}

main section img {
    box-sizing: border-box;
}


/*Do not add anything below this*/


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}