div#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #171e14;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #171e14;
}

header {
    background-color: #d0ddd7;
}

nav a:hover {
    background-color: white;
    color: black;
}

.book, .join {
    background-color: #7fe8ff;
    color: #171e14;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: black;
    color: white;
}

#background {
    background-color: #446134;
}

.msg {
    background-color: #7fe8ff;
}

footer {
    background-color: #171e14;
    color: white;
}

.home-title {
    color: #7fe8ff;
}

h4 {
    color: #7fe8ff;
}

.msg h2 {
    color: #446134;
}

.msg p {
    color: #171e14;
}

footer a {
    color: #7fe8ff;
    text-decoration: none;
}

footer a:hover {
    color: #d0ddd7;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}