body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 5px black;
  min-height: 400px;
  justify-items: center;
}

table {
  justify-self: center;
  width: 100%;
  margin: 2em;
  border-collapse: collapse;
   box-shadow: 5px 5px 5px #001f3f;
}

th, td{
  width: 25%;
  padding: 0.5em 1em;
  margin: 2px;
}

th {
  background-color: #001f3f;
  color: white;
  font-size: 1.8em;
}

td {
  font-size: 1.1em;
  background-color: #e3e3e3;
}

th, td, tr {
  border: 3px solid black;
}

form{
  text-align: left;
  display: block;
  font-size: 1.2em;
  width: 40%;
}

label {
  padding-left: 15px;
  font-size: 1.2em;
}

input {
  border: 2px solid #001f3f;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  font-size: 0.8em;
  width: 90%;
   box-shadow: 3px 3px 5px #001f3f;
}