body {
    text-align: center;
    background-color: rgb(35, 44, 49);
}

img {
    max-width: 800px;
    border: 5px solid steelblue;
}

nav {
    background-color: steelblue;
    padding: 20px;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    margin: 20px;
}

h1 {
    color: steelblue;
}

main p {
    color: whitesmoke;
    font-size: 20px;
    padding: 20px;
}

footer {
    background-color: steelblue;
    padding: 20px;
    color: whitesmoke;
}